@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  background: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */

/* site header-container */
.site-header-container {
  display: flex;
  align-items: center;
}
.site-header-top {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f6f6f6;
  margin-bottom: 30px;
}
.site-header-logo {
  display: flex;
  background: #fff;
  padding: 8px 6px;
  background: #ffffff;
  border-radius: 7px;
  margin-right: 35px;
}
.site-header-logo:hover {
  opacity: 0.8;
}
.site-header-logo:active {
  opacity: 0.6;
}
/* MONEY */

.money-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

.money-item:not(:last-child) {
  margin-right: 25px;
}
.money-item a {
  text-decoration: none;
}

/* GLOBAL SEARCH FORM */
.global-search-form {
  margin-right: 25px;
}

.global-search-form-input {
  background: #ffffff;
  border-radius: 60px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 14px;
  line-height: normal;
  border: 0;
}
/* LANGUAGE */

.header-lang {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 25px;
  background: #dce6ff;
  border-radius: 39px;
  width: 70px;
  height: 36px;
  padding: 3px;
}
.lang-toggle {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  color: #a6a6a6;
}
.lang-toggle-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  text-decoration: none;
  padding: 9px 7px;
  color: #000;
  margin-right: 8px;
}

.header-auth-link {
  background: #7296ec;
  border-radius: 10px;
  text-decoration: none;
  padding: 13px 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.header-auth-link:hover {
  opacity: 0.8;
}
.header-auth-link:active {
  opacity: 0.6;
}

/* SITE HEADER BOTTOM */
.site-header-bottom {
  background: #fff;
}
.site-menu {
  display: flex;
  list-style: none;
  color: #d1d1d1;
  margin: 0;
  padding: 0;
  /* padding-top: 20px; */
  margin-bottom: 20px;
}
.site-menu-item:not(:last-child) {
  margin-right: 34.44px;
}

.site-menu-link {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
  text-decoration: none;
  cursor: pointer;
}
.header-hr {
  width: 100%;
  margin-bottom: 40px;
}

.banner-img {
  display: flex;
  border-radius: 8px;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 50px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.new-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.article-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 17px 15px;
  background: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
}
.article-card-title {
  width: 358px;
  height: 78px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.article-card-link {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}
.article-card-link:hover {
  color: #7296ec;

}
.article-card-link:active {
  opacity: 0.6;  
}
.article-card-text {
  width: 346px;
  height: 44px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.article-card-img {
  display: flex;
  border-radius: 10px;
  width: 359px;
  height: 165px;
  margin-top: 15px; 
  margin-bottom: 15px;
  object-fit: cover;
}
.article-card-footer {
  display: flex;
}
.article-card-source-icon {
  border-radius: 5px;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.article-card-source-time {
  font-size: 12px;
  font-style: normal;

}
.article-card-source {
  font-family: "Rubik" , sans-serif;
  font-weight: 400;
  line-height: 14px;
  color: #5e5f61;
}
.article-card-time {
  font-family: "Rubik" , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}
